<h3 class="text-center" style="padding: 15px;">Leave List</h3>
<div>
    <div>
      <div style="padding:10px">
        <div>Employee Name
            <input type='text' [(ngModel)]='name'/>
        </div><br>
        <div>Leave Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type='text' [(ngModel)]='leave'/>
      </div>
        </div>
      </div>
<div class='table-responsive'>
    <table class='table' *ngIf='e1'>
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Leave Balance</th>
          <th>Leave Type</th>
          <th>Number of Days</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let emp of e1 | searchApprove:name:leave'>
          <td>{{emp.employee_name}}</td>
          <td>{{emp.start}}</td>
          <td>{{emp.end}}</td>
          <td>{{emp.totaldays-daysdifference(emp.start,emp.end)}}</td>
          <td>{{emp.leaveName}}</td>
          <td>{{daysdifference(emp.start,emp.end)}}</td>
          <td>{{emp.status}}</td>
          <td>  
          <div class="form-group">
          <select class="form-control" [(ngModel)]='emp.status' (ngModelChange)="give(emp.aid)">
              <option value="approved">Approved</option>
              <option value="rejected">Rejected</option>
              </select>
            </div>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>