<div>
    <div>
      <h3> My Profile</h3>
    </div>
    <div>
        <div class='table-responsive'>
            <table class='table'>
              <tbody>
                <tr>
                  <td>Name :   {{emp1.emp_name}}</td>
                  <td>Date Of Joining :   {{emp1.emp_doj}}</td>
                </tr>
                <tr>
                  <td>Email :   {{emp1.emp_email}}</td>
                  <td>Date Of Birth :   {{emp1.emp_dob}}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>